.contact_container{

	text-align: center;
	padding-top: 50px;

	margin: 12vh auto 0 auto;
	display: flex;
	justify-content:space-around;
	align-items: center;;
	flex-basis: 25%;
	
}
.contact_container img{
	height:15vw;
	
}
.contact_container a{
	text-decoration: none;
	color: black;
	font-size: 1.8vw;
	
}
.contact_container a:hover div{
	font-weight: bold;
	
}


.contact_container a div{
	margin-top:20px;
}


.email{
}



.tel{
	
}

.linked{

}

.github{
	
}

@media only screen and (min-width: 800px) {
.contact_container{
	margin-left:15%;
	margin-right:15%;
	
}

.contact_container img{
	height:8vw;
}