body{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	background-color:white;
	
	
}




html
{width:100%;
	height:100%;
	
}

.aboutme-container{
width: 100%;
margin: 0 auto;
text-align:center;
padding-top: 40px;	
display: flex;	
flex-direction:column;
	
}
.container{
	overflow: hidden;
	
}
.center-tech{
	text-align:center;
font-size: 20px;	
letter-spacing: 4px;
margin-top:65px;	
margin-bottom:50px;
margin-left: 30px;
margin-right:30px;
color:#333333;	
	
}
.aboutme-container-content{
	padding-top:20px;
	padding-bottom:20px;
	display:flex;
	flex-direction:column;
	/*border:1px solid black;*/
	margin-bottom: 100px;
}

.aboutme-container-content h2{
	color:#0E3063;
	text-shadow: 0px -3px 3px rgba(0,0,0,0.4);
}


.about{
text-align: center;
padding-top:50px;
	
}

.about-image{
width:200px;
height:200px;
border-radius:50%;
background-image:url("../img/me.jpg");
background-position: center;
background-size: cover;
margin: 0 auto;
}	
.anim-left{
position:relative;
left:-2000px;
-webkit-transition: 0.6s ease-in-out;
-moz-transition: 0.6s ease-in-out;
-o-transition: 0.6s ease-in-out;
transition: 0.6s ease-in-out;
}

.anim-right{
position:relative;
right:-2000px;
-webkit-transition: 0.6s ease-in-out;
-moz-transition: 0.6s ease-in-out;
-o-transition: 0.6s ease-in-out;
transition: 0.6s ease-in-out;
}


.animationL{
  -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
}
.animationR{
  -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
}


}
.about .text{
padding-left: 50px;
padding-right: 50px;
width: 60%;
letter-spacing: 3px;

}






.aboutme-container-content ul{
padding-top: 40px;
display:flex;
flex-direction: column;
margin:0 auto;
font-size: 16px;	
letter-spacing: 2px;
		
}

.aboutme-container-content ul li{
text-align: left;	
}



.header{
width:100%;
height:80px;	
background-color:#333333;
position:fixed;
z-index:1000;
top:0;
}

.header-image-content{
display:flex;
margin-top:80px;
width: 100%;
background-image:url("../img/background-desk.jpg");
background-repeat:no-repeat;
background-position: center;
height:90vh;
background-size:cover;
align-items:center;
}

.header-image-content header h1{

text-align:center;
text-shadow: 3px 3px 15px rgba(0,0,0,0.91);
letter-spacing: 4px;
font-size:5vw;
color:white;
}

.header-image-content header h3{
letter-spacing: -1px;
font-size:20px;
color:#c8543b;
}

.header-text-content{
display:flex;
flex-direction:column;
align-items: center;
flex-basis:100%;

}

.logout_button{
position: absolute;
top: 19px;
left:70px;
width: 120px;
height: 50px;
background-color:#333333;
color: white; 
border:none;
font-size: 18px;
z-index: 10000;	
}


.nav{
max-width:1300px;
margin: 0 auto;
display:none;
flex-direction:column;
justify-content: flex-start;
height: 100vh;
position:relative;
top:80px;
background-color:#333333;

}
.nav-open{
display:flex;
}

.nav-button{
position: absolute;
top:4px;
right:12px;
width: 70px;
height:70px;
background-image: url("../img/button-icon.png");
background-size:cover;	
}

.nav-item{

font-size: 35px;
color:white;
padding-left:76px;
display: flex;
flex-basis:100px;
flex-direction: column;
font-weight:bold;
cursor:pointer;
letter-spacing: 2px;
text-decoration:none;
}

.nav-item:last-child{
border-top: 2px solid white;
font-size: 14px;
padding-top: 20px;
cursor:default;
	
}
.log_in{
color:white;
position:absolute;
left:25px;
top:28px;
font-weight: bold;
cursor: pointer;
}



@media only screen and (min-width: 720px) {
.aboutme-double-container{
display:flex;
justify-content: space-between;
align-items:baseline;
padding:50px;
padding-bottom:0;
}

.gray-background{
background-color: #d4d4d4;	
}

.aboutme-container-content{
	margin-bottom: 30px;
	padding-top:60px;
	
}

.aboutme-container-content h2 {
padding-top:40px;	
}

}


@media only screen and (min-width: 1100px) {

.aboutme-double-container{

justify-content: space-around;

}

.nav{
max-width:1300px;
margin: 0 auto;
display:flex;
flex-direction: row;
justify-content: flex-end;
height: 100%;
position: static;

}

.nav-item{
padding:0;
font-size: 16px;
color:white;

display: flex;
flex-basis:150px;
justify-content: center;
flex-direction: column;
text-align:center;
cursor:pointer;

}

.nav-item:hover{
background-color:#605e5e;
}
.nav-item:last-child{
display:none;
	
}
.nav-button{
display:none;
}
.aboutme-container-content ul{

font-size: 20px;	

		
}
.about-my-name{
	font-size: 35px;
}
.about-descryption{
	font-size: 20px;
}

.center-tech{
	font-size:24px;
}
}




